/* css/mobile/variables.css */
:root {
    /* Tiêu cự phối cảnh màn hình di động (Góc nhìn hẹp hơn PC để tăng độ sâu cảm nhận) */
    --mobile-perspective: 400px;

    /* Kích thước một mặt của khối hộp theo từng tầng không gian (Kích thước = Chiều rộng/cao mặt hộp) */
    --size-far: 1600px;
    --size-medium: 1000px;
    --size-near: 600px;

    /* Khoảng dịch dịch chuyển tịnh tiến Z để tạo thành khối lập phương hoàn chỉnh (Bằng 1/2 kích thước) */
    --translate-z-far: 800px;
    --translate-z-medium: 500px;
    --translate-z-near: 300px;

    /* Biến quản lý trạng thái dịch chuyển động do JS Mobile cập nhật */
    --mobile-scroll-rotation-x: 0deg;
    --mobile-scroll-rotation-y: 0deg;
    --mobile-gyro-rotation-x: 0deg;
    --mobile-gyro-rotation-y: 0deg;
}
 
